// Modal for Delete Confirmation
#delete-modal.modal.hidden
  .modal-content
    span.modal-close &times;
    h2 Delete Block?
    p.modal-message This action cannot be undone.
    .modal-buttons
      button#delete-confirm-btn.confirm Delete
      button#delete-cancel-btn.cancel Cancel
