// Modal for Login Prompt
#login-modal.modal.hidden
  .modal-content
    span.modal-close &times;
    h2= t('modals.login.title')
    p#login-modal-message= t('modals.login.message')
    a.btn.btn-primary(href=uiPath("/login"))= t('modals.login.cta')
