div#login-modal.modal.hidden
  div.modal-content
    span.modal-close &times;
    h2 Please Log In
    p#login-modal-message You need to be logged in to continue.
    a.btn.btn-primary(href="/login") Log In
