mixin readMoreIfTruncated(item, room_id)
  if item.truncated
    a.more-link(
      href=`/rooms/${room_id}/blocks/${item._id}`
      aria-label=t('readMore.aria', { title: item.title })
    )= t('readMore.more')
