mixin tagSection(tags, canManageBlock)
  if tags && tags.length
    p.block-tags-header Tags:
    div#tag-container
      each tag in tags
        span.tag-pill
          a(href=`/tags/${encodeURIComponent(tag)}`) #{tag}
          if canManageBlock
            button.tag-remove(data-tag=tag) x
      if canManageBlock
        span.tag-add
          input#new-tag(type='text' placeholder='New tag')
          button#add-tag-btn Add
  else
    if canManageBlock
      p.block-tags-header No tags yet! Add some:
      div#tag-container
        span.tag-add
          input#new-tag(type='text' placeholder='New tag')
          button#add-tag-btn Add
    else
      p.block-tags-header
