mixin translationAttribution(item)
  if item.originalAuthor && item.originalAuthor !== item.creator
    p.translation-attribution
      | Translated from 
      a.user-profile-link(href=`/users/${item.originalAuthor}`)= item.originalAuthor
      |  (see 
      a(href=`/rooms/${item.roomId}/blocks/${item.originalBlock}`) original block)
