extends ../layout

block nav
  include ../navLinks

block append head
  link(rel='stylesheet' href='/css/create-block.css')

block append scripts
  script(src="/js/create-block.js")

block content
  h1 Create a New Block

  form#block-form(action=`/api/v1/rooms/${room_id}/blocks` method="POST")
    .form-group
      label(for="title") Title:
      input#title(type="text" name="title" required minlength="3" maxlength="100" 
        placeholder="e.g. 'My Masterpiece', 'The Best Idea Ever', 'Clickbait for Nerds'")

    .form-group
      label(for="description") Description (optional):
      textarea#description(name="description" placeholder="Explain your brilliance... or just wing it.")

    .form-group
      label(for="tags") Tags (comma-separated):
      input#tags(type="text" name="tags" placeholder="e.g. creativity, technology")

    .form-group
      label Visibility:
      .visibility-options
        label(title="Public blocks appear in the room dashboard while still open for editing.")
          input(type="radio" name="visibility" value="public" checked)
          | Public (anyone can join)
        label(class= !user ? "disabled" : "", title="Private blocks don't appear in the room dashboard until locked. You can invite collaborators via a share link.")
          input(type="radio" name="visibility" value="private" disabled= !user)
          | Private (only invited users)

    button.btn.btn-primary(type="submit") Create Block
