/node_modules
/public/js/bundle.js
/public/js/clearSelection.js
/public/js/iPod.js
/public/js/analyzeBPM.js
/build
.env
debug.js
credentials.json
.DS_Store
/performance/logs/*
!/performance/logs/.gitkeep
*.diff
