extends layout

block nav
  include navLinks

block content
  .info
    h1 Collaborate Anonymously on a Global Writing Canvas - Unleash Your Creativity Daily
    p Join an ever-evolving tapestry of thoughts, where each contributor's voice weaves into a daily masterpiece. At the stroke of midnight UTC, we embrace a new canvas, preserving yesterday's creation for eternity.
    h2 The Essence of Daily Page
    p Each visitor breathes life into the Daily Page, partaking in a real-time, anonymous collaborative journey. The document of the day, a collective endeavor, is locked at midnight UTC, archived for inspiration, and reborn anew.
    h2 Your Role in this Collective Creation
    p It's your imagination, your words, that define the essence of the Daily Page. What will you contribute to today's narrative?
    h2 A Testament to Collective Creativity
    p(style="color: #777;") Dive into the archives to witness the power of collective creativity. Each day's page stands as a testament to the stories, ideas, and whispers shared by anonymous souls around the globe.
    .call-to-action
      p
        a.btn.btn-margin(href='/app') Join the Canvas Now
      p
        a.btn(href='/archive') Explore the Archives

    .info-subtitle
      p(style="color: #777;") This is your invitation to leave a mark, to be part of something bigger than yourself. Welcome to the Daily Page - where every day is a new beginning.
