extends layout
block nav
  include navLinks
block content
  .info
    h1 ★ What is this site for?
    p To give the world a blank slate.
    p
      | All visitors to the site are connected in a real-time, anonymous, collaborative editing
      | session of a single document. At midnight UTC each day, that document is locked, archived
      | for viewing, and replaced with a fresh document.
    P
      | It is up to you to decide what the Daily Page is for.
    .info-subtitle
      p(style="color: #00C261") Chatting?
      p(style="color: #2626F0") Writing poetry?
      p(style="color: #ED0909") Creating ideas to better the planet?
      p(style="color: #FFC414") Discussing current events?

    p
      | Nobody knows yet, so let us see what happens when every internet user in
      | the world is given a pen to write on the same page.

    h1 ★ How does this site work?
    p
      | There is a practical and technical limit on the number of users who can edit the same
      | document simultaneously, at least for the moment. While each day's writing ultimately
      | produces a single page, that page is made up of many smaller pieces, each emerging from an
      | individual
      i   room.
    p
      | Each room has a set maximum number of occupants, and newly-arriving users are directed to
      | the vacant room with the largest number of occupants. If all rooms happen to reach capacity,
      | then new editors can enter only after others leave a room. (Of course, the site is open for
      | browsing at all times, and that includes the current revision of that day's page.)
    p
      | The name of each room is not revealed until you arrive there, and so the only ways you can
      | find out about a room are by 1) having the site direct you there, 2) receiving a link to a
      | room from your friend, or 3) navigating to randomly-chosen room names until you find one
      | that exists.
    p
      | The rooms have been given intentionally nondescript and open-ended names, with the intention
      | that the users will determine each room's topics, culture, and focus, rather than the
      | opposite.
    h1 ★ What else is there to know?
    p The editor supports three formatting styles, each with its own delimiter:
      |  asterisk (*) for
      strong  bold
      | ,
      |  underscore (_) for
      em  italic
      | , and tilde (~) for 
      del strikethrough
      | .
    p For example, if the editor contains this text,
      p.example What the world needs *now* is _love ~and chocolate-covered Funyuns~_.
      p.example Delimiters appear when written with backslashes: \*, \_, and \~.
    p then that text will be rendered in the archive view as
      p.example What the world needs
        strong  now
        |   is
        em  love 
          del and chocolate-covered Funyuns
        | .
      p.example Delimiters appear when written with backslashes: *, _, and ~.
