extends layout.pug
block nav
  include navLinks.pug
block content
  .about
    h1(style="color: #1FBCF0") ★ What is this site for?
    p To give the world a blank slate.
    p
      | All visitors to the site are connected in a real-time, anonymous, collaborative editing
      | session of a single document. At midnight UTC each day, that document is locked, archived
      | for viewing, and replaced with a fresh document.
    P
      | It is up to you to decide what the Daily Page is for.
    .about-subtitle
      p(style="color: #00C261") Chatting?
      p(style="color: #2626F0") Writing poetry?
      p(style="color: #ED0909") Developing political philosophy?
      p(style="color: #FFC414") Sharing YouTube videos?

    p
      | Nobody knows yet, so make your mark and let's see what happens when every internet user in
      | the world is given a pen to write on the same page.

    h1(style="color: #1FBCF0") ★ How will this site scale?
    p
      | Unfortunately, there is a practical and technical limit on the number of users who can edit
      | the same document simultaneously. If a single page per day becomes unsustainable or
      | unreasonably chaotic, then the site will be segmented into rooms: A, B, C, and so forth.
      | If a single user arrives at the site, they will be directed to a random room, e.g., A.
    p
      | Any newly-arriving users will be directed to that same room until it reaches capacity, at
      | which point a new room will be opened up. From there forward, users will be directed by
      | default to the least-populated room. If all users leave a room, then incoming users will no
      | longer be directed there. However, at the same time, any user will be able to navigate to a
      | specific room by request, provided it is still below capacity. The Daily Page will then
      | consist of the contents of all rooms that were used that day, linked end-to-end (e.g. room
      | B's page begins where room A's page leaves off).
    p
      | If rooms get introduced, they will be intentionally devoid of predefined topics, nor will
      | they be given colorful names. The intent is that the culture and focus of that room will be
      | determined entirely by those who choose to make it their own.
