extends layout.pug
block nav
  include navLinks.pug
block content
  .about
    h1(style="color: #1FBCF0") ★ What is this site for?
    p To give the world a blank slate.
    p
      | All visitors to the site are connected in a real-time, anonymous, collaborative editing
      | session of a single document. At midnight UTC each day, that document is locked, archived
      | for viewing, and replaced with a fresh document.
    P
      | It is up to you to decide what the Daily Page is for.
    .about-subtitle
      p(style="color: #00C261") Chatting?
      p(style="color: #2626F0") Writing poetry?
      p(style="color: #ED0909") Developing political philosophy?
      p(style="color: #FFC414") Sharing YouTube videos?

    p
      | Nobody knows yet, so make your mark and let's see what happens when every internet user in
      | the world is given a pen to write on the same page.
