extends viewer
prepend content
  h1 Archive
append content
  #viewer.year-month
    if !combos || combos.length === 0
      p Sorry; something went wrong while loading the archive.
    else
      each combo in combos
        a.hover-effect-link(
          href=combo.year + '/' + combo.month
        ) #{monthNames[combo.month - 1]} #{combo.year}