doctype html
html(lang="en")
  head
    block head
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      link(rel='shortcut icon' href='/assets/img/favicon.ico')
audio(controls src='http://' + host + '/audio/' + fileID)
  | Your browser does not support the
  code  audio
  | element.
