h2
  | #{t('blockEditor.fullBlock.consolationPrefix')} 
  a(href=uiPath("/archive/best-of"))= t('blockEditor.fullBlock.consolationBestOf')
  |  #{t('blockEditor.fullBlock.consolationMiddle')} 
  a(href=uiPath("/archive"))= t('blockEditor.fullBlock.consolationArchive')
