#inactive-warning(style="visibility: hidden;")
  strong
    | You have not written anything for 5 minutes. Click OK to continue session;
    | otherwise, you will be redirected to the archive.
  .inactive-dismiss#box
    button.inactive-dismiss
      span.inactive-dismiss OK
