extends layout
block nav
  include navLinks
block content
  p#safari Your browser doesn't support WebRTC yet.</br></br>Please use the Chrome or Firefox desktop browsers.
  #daily-page.hide
    .text-wrapper
      .editor
        #date
          h2= header
        .header
          p.sharing-link(style="display: none")
            a.link(id='myLink' target="_blank") Sharing Link
            span(id="myLinkInput" class="aside disappear")
            span(class="copy-container" data-tooltip="Copy to Clipboard")
              i(data-feather="copy" class="copy-link" color="rgb(17, 87, 170)")
            span(class="copy-status") Copied!
          #closing-soon-infobox
            #closing-soon-text
              p Today's page closes in 
              p#time-left
              p .
          #sync-infobox
          #download-box
            button#download(type='button') Download
        textarea(row='10' col='20')
      p#peerId Peers:
    .video-modal.hide
      .video-bar
          i(data-feather="minus" class="minimize")
          i(data-feather='x' class="exit")
      video
  include loading
  include closedPage
  script(src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js")
  script.
    feather.replace({ 'stroke-width': 3 });

block scripts
  include envImport
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  script(src='js/bundle.js')
  script(src='js/clearSelection.js')
