extends layout

block nav
  include navLinks

block append head
  link(rel='stylesheet' href='/css/editor.css')

block content
  #daily-page.hide
    .text-wrapper
      .editor
        #date
          h2= header
          p.room-description-header Click to expand room details
          p.room-description.collapsible.hidden= description
        .header
          p.sharing-link(style="display: none")
            a.link(id='myLink' target="_blank") Sharing Link
            span(id="myLinkInput" class="aside disappear")
            span(class="copy-container" data-tooltip="Copy to Clipboard")
              i(data-feather="copy" class="copy-link" color="rgb(17, 87, 170)")
            span(class="copy-status") Copied!
          #sync-infobox
        .toolbar.sticky
          button#open-insert-img-btn(data-tooltip="Insert Image")
            i(data-feather="image")
          div#insert-img-tooltip.hidden
            form
              input#img-url(type="text" placeholder="Enter image URL")
              input#img-alt(type="text" placeholder="Alt text (optional)")
              div
                button#insert-img-confirm(type="button") Confirm
                button#insert-img-cancel(type="button") Cancel
        textarea
      p#peerId Peers:
    .video-modal.hide
      .video-bar
          i(data-feather="minus" class="minimize")
          i(data-feather='x' class="exit")
      video
  include loading
  include closedPage
  include inactiveWarning
  script(src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js")
  script.
    feather.replace({ 'stroke-width': 3 });

block scripts
  include envImport
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  script(src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js")
  script(src='/js/bundle.js')
  script(src='/js/clearSelection.js')
  script(src='/js/editor.js')
