extends layout.pug

block nav
  include navLinks.pug
block content
  p#safari Your browser doesn't support WebRTC yet.</br></br>Please use the Chrome or Firefox desktop browsers.
  #daily-page.hide
    .text-wrapper
      .editor
        .header
          p.sharing-link
            a.link(id='myLink' target="_blank") Sharing Link
            span(id="myLinkInput" class="aside disappear")
            span(class="copy-container" data-tooltip="Copy to Clipboard")
              i(data-feather="copy" class="copy-link" color="rgb(17, 117, 232)")
            span(class="copy-status") Copied!
          button#download(type='button') Save
          label#upload(for='file') Upload
          input#file(type='file' accept='.txt, .js, .rb, .md')
        textarea(row='10' col='20')
      p#peerId Peers:
    .video-modal.hide
      .video-bar
          i(data-feather="minus" class="minimize")
          i(data-feather='x' class="exit")
      video
  include loading.pug

block scripts
  include envImport.pug
  script(src='js/bundle.js')
