extends layoutMin
block content
  link(rel='stylesheet' href='/css/ipod.css')
  div#ipod
    #homemenu.tile
      #screen
        .battery-tip
        .battery ||||
        .title
          span iPod
        ul
          a.select(href="#music")
            li Music
            span.arrow >