extends layoutMin
block content
  link(rel='stylesheet' href='/css/ipod.css')
  script.
    backendURL = "#{backendURL}"
  script(src='/js/jquery-1.7.1.min.js')
  script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js")
  script(src='/js/jquery.knob.js')
  script(src='/js/iPod.js')
  div#ipod
    #screen
      #playindicator
      #pauseindicator
        .pausebar
        .pausebar
      .battery-tip
      .battery ||||
      #audioplayer.tile
        .title
          span Now Playing
        ul
          li(class="tracknumber")
          li(class="songtitle")
          li(class="songartist")
          li(class="albumtitle")
          li(class="timevolume")
            div(class="timeline")
              div(class="trackbar")
                div(class="trackbartime")
              div(id="player")
          div(class="volume")
            div(class="volumeincr")
            div(class="volumebar")
              div(class="volumelevel")
            div(class="volumedecr")
          li(class='timevolume timeline')
            span(class="time-left")
            span(class="time-right")
            
				
        div(class="scrolltime")
          div(class="scrolltimebar")
            div(class="scrolltimelevel")
            span &#9830;
      #homemenu.tile
        .title
          span iPod
        ul
          a(id='music-link' href="#music")
            li Music
            span.arrow >
          a(id='extras-link' href='#extras')
            li Extras
            span.arrow >
          a(id='nowplaying-link' href='#audioplayer')
            li Now Playing
            span.arrow >
      #music.tile(style='display:none;')
        .title
          span Music 
        ul
          a(id='artists-link' href="#artists")
            li Artists
            span.arrow >
          a(id='albums-link' href="#albums")
            li Albums
            span.arrow >
          a(id='songs-link' href="#songs")
            li Songs
            span.arrow >
      #artists.tile(style='display:none;')
        .title
          span Artists
        ul#artists-list
      #albums.tile(style='display:none;')
        .title
          span Albums
        ul#albums-list
      #songs.tile.play(style='display:none;')
        .title
          span Songs
        ul#songs-list
    #clickwheel
      #menu menu
      #prev
        .bar-left
        .arrow-left
        .arrow-left
      #next
        .bar-right
        .arrow-right
        .arrow-right
      #play-pause
        .bar-right.gap
        .bar-right.gap
        .arrow-right
      a(id='back' href='#')
        #topbutton.button
      a(id='rewindbutton' href='#')
        #leftbutton.button
      a(id='playpausebutton' href='#')
        #bottombutton.button
      a(id='fastforwardbutton' href='#')
        #rightbutton.button

      #innerwheel
        input(type="text" value="75" class="dial" data-width="234" data-cursor="true" data-thickness=".9" data-fgcolor="#E9EDEC" data-bgcolor="#E9EDEC" data-displayinput="true" style="width: 121px; height: 78px; position: absolute; vertical-align: middle; margin-top: 78px; margin-left: -177px; border: 0px none; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%; font: bold 58px Arial; text-align: center; color: rgb(233, 237, 236); padding: 0px; -moz-appearance: none;")
        a(id='select' href='#')
          #innerbutton
