doctype html
html(lang="en")
  head
    title= title
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css")
    link(rel='stylesheet' href='css/style.css')
    link(rel='shortcut icon' href='assets/img/favicon.ico')
  body
    .navbar
      a(href='/' target="_blank")
        h1.logo Daily Page
      .nav-items
        block nav
    block content
    block scripts
