doctype html
html(lang="en")
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css")
    link(rel='stylesheet' href='/css/style.css')
    link(rel='shortcut icon' href='/assets/img/favicon.ico')
  body
    -
      var monthNames = ['January', 'February', 'March', 'April', 'May', 'June',
                        'July', 'August', 'September', 'October', 'November', 'December']
    .navbar
      a(href='/' target="_blank")
        h1.logo Daily Page
      .nav-items
        block nav
    block content
    block scripts
