doctype html
html(lang="en")
  head
    block head
      title= title
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      link(rel='icon' type='image/svg+xml' href='/assets/img/logo.svg')
      include schema.pug
  body
    block content
