a(href="#main-menu-toggle"
  id="main-menu-close"
  class="menu-close"
  aria-label="Close main menu")
  span(class="sr-only") Close main menu
  span(class="fa fa-close" aria-hidden="true")
ul
  li
    .home
      a.link(href='/') Home
  li
    .app
      a.link(href='/rooms') Rooms
  li
    .tags
      a.link(href='/tags') Tags
  li
    .archive
      a.link(href='/archive') Archive
  li
    .best-of
      a.link(href='/archive/best-of') Best Of
  li
    .random
      a.link(href='/random') Other Projects
