.about
  a.link(href='/about' target="_blank") What is Daily Page?
.archive
  a.link(href='/archive' target="_blank") Archive
.github
  a.link(href='https://github.com/rcalfredson/daily-page' target="_blank") Fork on GitHub
