.about
  a.link(href='/about') About
.archive
  a.link(href='/archive') Archive
.support
  a.link(href='/support') Support
.baseball
  a.link(href='/baseball') Baseball Journal
.random
  a.link(href='/random') Random Writer
