.about
  a.link(href='/about' target="_blank") What is Daily Page?
.case-study
  a.link(href='https://conclave-team.github.io/conclave-site/' target="_blank") Archive
.github
  a.link(href='https://github.com/rcalfredson/daily-page' target="_blank") Fork on GitHub
