extends viewer

block append head
  link(rel='stylesheet' href='/css/archivedPage.css')

prepend content
  h1= header
append content
  #viewer.year-month
    if !dates || dates.length === 0
      p= t('archive.yearMonth.empty')
    else
      each date in dates
        a.hover-effect-link(
          href='../rooms/overview/' + date
        ) #{date}
