extends viewer
prepend content
  h1= header
append content
  #viewer.year-month
    if !dates || dates.length === 0
      p We could not find any pages during that timeframe.
    else
      each date in dates
        a.date-link(
          href='../' + date
        ) #{date}
