.tabs {
  margin-top: 2rem;
}

.tab-links {
  display: flex;
  border-bottom: 2px solid #eee;
  list-style: none;
  padding: 0;
}

.tab-links li {
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  color: #555;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.tab-links li.active {
  color: #007bff;
  border-bottom: 3px solid #007bff;
}

.tab-pane {
  display: none;
  padding: 1rem 0;
}

.tab-pane.active {
  display: block;
}

.content-preview {
  line-height: 1.4;
  max-height: 100px;
  overflow: hidden;
  position: relative;
}

.content-preview::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background: linear-gradient(transparent, #fff);
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.content-preview.no-fade::after {
  display: none;
}

.block-preview {
  transition: background-color 0.3s ease;
}

.block-preview:hover {
  background-color: #fafafa;
}

.content-preview::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9));
}

@media (min-width: 768px) {
  .content-preview.tall-preview {
    max-height: 200px; /* Más alto solo para imágenes en desktop */
  }
}

#room-link {
  text-decoration: underline dotted;
  color: #004187;
}