/* Dashboard-specific styling */
.container {
  margin: 20px auto;
  max-width: 800px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container h1 {
  font-family: 'Rubik-Medium';
  color: #333;
  margin-bottom: 15px;
}

.container p {
  font-size: 16px;
  color: #555;
}

.container p a {
  vertical-align: unset;
}

.container ul {
  list-style: none;
  padding: 0;
}

.container ul li {
  margin: 10px 0;
  font-size: 14px;
}

.container ul li a {
  color: rgb(26, 167, 214);
  text-decoration: underline;
  vertical-align: unset;
}

.profile-section {
  text-align: center;
  margin-bottom: 20px;
}

.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.profile-section h2 {
  font-size: 20px;
  font-family: 'Rubik-Medium';
  color: #333;
}

.profile-pic-label {
  position: relative;
  cursor: pointer;
  float: unset;
  padding: unset;
  border-radius: unset;
  border: unset;
  margin: unset;
  line-height: unset;
  background-color: unset;
}

.profile-pic-label .edit-icon {
  display: none; /* Default state for non-touch devices */
}

.edit-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 16px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 5px;
  display: none;
}

.profile-section.touchscreen .edit-icon {
  display: block; /* Always visible for touchscreens */
}

.profile-pic-label:hover .edit-icon {
  display: block;
}
