/* ====== General Editor Styling ====== */
:root {
  --primary-bg: #ffffff;
  --secondary-bg: #f9f9f9;
  --text-color: #333;
  --highlight-color: #007bff;
  --border-color: #ddd;
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Room description collapsible */
.room-description-header {
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  color: var(--highlight-color);
  margin-bottom: 0.5rem;
}

.room-description {
  font-size: 0.9rem;
  color: var(--text-color);
  line-height: 1.5;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
}

.room-description.collapsible.visible {
  max-height: 200px;
  /* Adjust as needed */
  opacity: 1;
}

.room-info {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: var(--highlight-color);
}

.room-link {
  text-decoration: none;
  color: var(--highlight-color);
  font-weight: bold;
  transition: color 0.2s ease;
}

.room-link:hover {
  color: #0056b3;
}

/* Header for editor */
#date h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 1rem;
}

/* General editor styling */
textarea {
  width: 100%;
  min-height: 400px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  line-height: 1.5;
  box-shadow: var(--box-shadow);
}

.markdown-img-preview {
  max-width: 600px;
  height: auto;
}

@media (max-width: 600px) {
  .markdown-img-preview {
    max-width: 100%;
  }
}

/* Peers info */
#peerId {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: var(--text-color);
}

/* Toolbar - Sticky */
.toolbar.sticky {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--primary-bg);
  border-bottom: none;
  transition: top 0.3s ease;
  padding: 8px;
  margin-bottom: 0px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.toolbar.sticky.scrolled {
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

button#open-insert-img-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  padding: 0;
  border-radius: 3px;
  background-color: var(--primary-bg);
  border: 1px solid var(--border-color);
  margin: unset;
}

button#open-insert-img-btn i {
  width: 20px;
  height: 20px;
}

/* Tooltip */
#insert-img-tooltip {
  position: absolute;
  top: 50px;
  left: 0;
  background-color: var(--primary-bg);
  border: 1px solid var(--border-color);
  padding: 20px;
  padding-bottom: 5px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 999;
  max-width: 320px;
}

#insert-img-tooltip.hidden {
  display: none;
}

/* Tooltip Input Fields */
#insert-img-tooltip input[type="text"] {
  width: calc(100% - 16px);
  ;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  font-size: 0.95rem;
  line-height: 1.2;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.2s;
  margin-bottom: 10px;
}

/* Focus Effect for Input Fields */
#insert-img-tooltip input[type="text"]:focus {
  border-color: var(--highlight-color);
  outline: none;
}

/* Tooltip Buttons Container */
#insert-img-tooltip div {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

/* Tooltip Buttons */
#insert-img-tooltip button {
  flex: 1;
  padding: 8px 16px;
  font-size: 0.9rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

/* Confirm Button Styling */
#insert-img-tooltip button#insert-img-confirm {
  background-color: #007bff;
  color: white;
}

#insert-img-tooltip button#insert-img-confirm:hover {
  background-color: #0056b3;
}

/* Cancel Button Styling */
#insert-img-tooltip button#insert-img-cancel {
  background-color: #6c757d;
  color: white;
}

#insert-img-tooltip button#insert-img-cancel:hover {
  background-color: #5a6268;
}

#block-title-container {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-color);
  cursor: pointer;
  transition: border 0.3s ease-in-out;
}

#edit-title-btn {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

#edit-title-btn i {
  width: 20px;
  height: 20px;
  color: var(--highlight-color);
}

#lock-block-btn {
  margin-left: 30px;
  margin-bottom: 0;
}

#block-title-input {
  display: inline-block;
  width: auto;
  min-width: 50px;
  max-width: 300px;
  font-size: 1.5rem;
  font-family: 'Rubik-Regular';
  color: var(--text-color);
  border: 1px solid var(--border-color);
  padding: 4px 8px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

#block-title-input.hidden, #block-title.hidden {
  display: none;
}

#block-title, #block-title-input {
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.fade-out {
  opacity: 0;
  pointer-events: none;
  transform: scale(0.98);
  position: absolute;
}

.fade-in {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

/* Remove hard border and shadow from the card */
.block-description-card {
  background-color: #fff;
  border: none;
  box-shadow: none;
  padding-top: 1rem;
  position: relative;
  margin: 1rem 0;
}

/* Edit button styling in the upper right */
.description-edit-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

/* Ensure the textarea doesn't overlap the edit button */
#description-edit {
  font-family: 'Rubik-Light', sans-serif;
  /* New typeface for the textarea */
  margin-top: 15px;
}

.description-body {
  width: 95%;
}

.description-label {
  position: absolute;
  top: 10px;
  left: 0px;
  font-size: 0.75rem;
  color: #aaa;
  /* Light grey */
  text-transform: uppercase;
  pointer-events: none;
  /* So it doesn't interfere with clicks */
}

/* Description body styling with fade-out */
.description-body.collapsed {
  max-height: 150px;
  /* Adjust as needed */
  overflow: hidden;
  position: relative;
}

/* Fade-out gradient effect */
.description-body.collapsed::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 95%;
  height: 30px;
  /* Height of the fade effect */
  background: linear-gradient(transparent, var(--primary-bg));
  pointer-events: none;
}

/* Expand toggle styling */
.expand-toggle {
  text-align: center;
  cursor: pointer;
  color: var(--highlight-color);
  padding: 0.5rem 0;
  font-weight: bold;
}

/* Style and position Save/Cancel buttons */
.edit-buttons {
  text-align: right;
  margin-top: 8px;
}

.edit-buttons button {
  padding: 6px 12px;
  border-radius: 4px;
  margin-left: 8px;
  border: none;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

#save-description-btn {
  background-color: var(--highlight-color);
  color: #fff;
}

#save-description-btn:hover {
  background-color: #0056b3;
}

#cancel-description-btn {
  background-color: #ddd;
  color: var(--text-color);
}

#cancel-description-btn:hover {
  background-color: #bbb;
}


/* ======= Simple Modal Overlay ======= */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* semi-transparent overlay */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* Hide elements with the .hidden class */
.hidden {
  display: none;
}


/* ======= Modal Inner Box ======= */
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: var(--box-shadow);
  max-width: 400px;
  width: 80%;
  text-align: center;
}

.modal-message {
  margin-bottom: 1rem;
  color: var(--text-color);
  font-size: 1rem;
  line-height: 1.4;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* ======= Buttons ======= */
#lock-confirm-btn {
  background-color: #dc3545;
  /* Danger color or your brand color */
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

#lock-confirm-btn:hover {
  background-color: #b52b3a;
}

#lock-cancel-btn {
  background-color: #ddd;
  color: #333;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

#lock-cancel-btn:hover {
  background-color: #bbb;
}
