@import url("cmFont.css");

.battery {
  position: absolute;
  width: 22px;
  height: 9px;
  top: 9px;
  right: 8px;
  outline: #303531 1px solid;
  font-size: 35px;
  letter-spacing: -10px;
  overflow: hidden;
  line-height: 1px;
  text-indent: -5px;
  border: solid 1px #C0BDB6;
}

.battery-tip {
  position: absolute;
  width: 2px;
  height: 3px;
  right: 4px;
  top: 12px;
  border: 1px #303531 solid;
  border-left: 1px #C0BDB6 solid;
}

#ipod {
  width: 360px;
  height: 582px;
  margin: 0 auto;
  margin-top: 0px;
  margin-top: 50px;
  border-radius: 35px;
  -webkit-box-shadow: 0px 50px 41px 3px rgba(0, 0, 0, .4);
  background: linear-gradient(45deg,
  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 59%,rgba(243,243,243,1) 60%,
  rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 );
  border-right: #C3CAD2 4px solid;
  border-left: #909599 4px solid;
  border-top: #D2D5DA 4px solid;
  border-bottom: #737278 4px solid;
}

#screen {
  position: relative;
  width: 240px;
  height: 188px;
  top: 28px;
  left: 56px;
  font-family: cm, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #303531;
  overflow: hidden;
  border-radius: 10px;
  border: 3px #595854 solid;
  box-shadow: 1px 1px 1px 1px #C0BFBD;
  background: linear-gradient(45deg, rgb(160, 167, 170) 0%, rgb(185, 188, 193) 49%, rgb(185, 186, 191) 51%,
    rgb(197, 197, 203) 100%);
}

.tile {
  margin: 0;
  float: left;
  width: 100%;
}

.title {
  width: 100%;
  height: 23px;
  text-align: center;
  margin-top: 5px;
  border-bottom: 2px 
  #303531 solid;
}
