extends ../layout

block nav
  include ../navLinks

block append head
  link(rel="stylesheet", href="/css/forgot-password.css")

block scripts
  script(src="/js/forgot-password.js")

block content
  .forgot-password-container
    h1 Forgot Your Password?
    p Enter your email and we'll send you a reset link.
    form#forgotPasswordForm
      .form-group
        label(for="email") Email Address
        input#email(type="email" name="email" required placeholder="Enter your email")
      button(type="submit").reset-button Request Password Reset
    .form-feedback(style="display: none;")
