extends ../layout

block nav
  include ../navLinks

block append head
  link(rel="stylesheet", href="/css/reset-password.css")

block scripts
  script(src="/js/reset-password.js")

block content
  .reset-password-container
    h1 Reset Your Password
    form#resetPasswordForm
      input(type="hidden" id="token")
      .form-group
        label(for="newPassword") New Password
        input#newPassword(type="password" name="newPassword" required placeholder="Enter new password")
      button(type="submit").reset-button Set New Password
    .form-feedback(style="display:none;")
